<div class="sidebar-container">
    <h2 class="sidebar-title">Herramientas</h2>

    <div class="sidebar-menu">
        <button pButton
                label="Explorador de Datos"
                icon="pi pi-eye"
                routerLink="/app/explorer"
                routerLinkActive="active-link"
                class="p-button-text sidebar-button">
        </button>

        <button pButton
                label="Gráficos"
                icon="pi pi-chart-bar"
                disabled="true"
                class="p-button-text sidebar-button">
        </button>

        <button pButton
                label="Clasificador de Información"
                icon="pi pi-cog"
                routerLink="/app/classifier"
                routerLinkActive="active-link"
                class="p-button-text sidebar-button">
        </button>

        <button pButton
                label="Banco de Datos"
                icon="pi pi-database"
                disabled="true"
                class="p-button-text sidebar-button">
        </button>
    </div>
</div>
